<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- view port : 모바일 형태(사이즈..등)로  작업할때 설정-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link href="JS/test4/app.css" rel="stylesheet" />
    <title>가즈아앙~</title>
</head>

<body>
    <div id="app" class="app">
        <div class="head"> 
            <span class="title"> On-Time </span><br>
            <button v-for='c in categories' :class="{ 'active' : category === c }" @click="category = c">{{ c }}</button>
            <span class="list-btn" v-if = "mode !== 'list'" @click = "mode = 'list'"> &lt; </span>
        </div>
        <div class="body" v-if="category === 'Personal'">
            <div class="list" v-if="mode === 'list'">
                <ul>
                    <li v-for="m in Pmemos" @click = "Popen(m.title)">{{ m.title }}</li>
                </ul>
            </div>
            <div class="write" v-else> <!-- 상세내용 표기 -->
                <textarea v-model = "memo.title"></textarea>
                <button class="save-btn" type="button" @click="Psave()" :class = "{ 'full' : mode === 'write' }">저장</button> <!-- 버튼 동적으로 만들기 -->
                <button class="remove-btn" type="button" @click="Premove()" v-if="mode === 'edit'">삭제</button>
            </div>
            <button class="add-btn" type="button" @click="Pwrite()" v-if="mode === 'list'"> + </button>
        </div>

        <div class="body" v-if="category === 'Business'">
            <div class="list" v-if="mode === 'list'">
                <ul>
                    <li v-for="m in Bmemos" @click = "Bopen(m.id)">{{ m.title }}</li>
                </ul>
            </div>
            <div class="write" v-else> <!-- 상세내용 표기 -->
                <textarea v-model = "memo.title"></textarea>
                <button class="save-btn" type="button" @click="Bsave()" :class = "{ 'full' : mode === 'write' }">저장</button> <!-- 버튼 동적으로 만들기 -->
                <button class="remove-btn" type="button" @click="Bremove()" v-if="mode === 'edit'">삭제</button>
            </div>
            <button class="add-btn" type="button" @click="Bwrite()" v-if="mode === 'list'"> + </button>
        </div> 
    </div>

    <script src="JS/test4/app.js"></script>
</body>
<script th:inline="javascript">
    /*<![CDATA[*/
    var query = /*[[${PI}]]*/ 'default';
    console.log(query) // object
    /*]]>*/
</script>

</html>