body {
  height: 100%;
  background-color: rgb(243, 242, 242);
}

ul, li {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

.app > .head {
  position: relative;
  padding: 10px;
  background: rgb(126, 205, 241);
  border-bottom: 1px solid white;
  text-align: center;
  position: relative;
}

.category-btn {
  display: inline-block;
  background: transparent;
  border-width: 0 0 0 0;
  padding: 7px;
  cursor: pointer;
  width: 30%;
  height: 50px;
  margin: 10%;
  margin-top: 60px;
  color: white;
}

.category-btn.active {
  background: transparent;
  border-bottom-color: white;
  border-bottom: 5px solid rgb(62, 235, 220);
}

.list-btn { 
  border-width: 0 0 0 0;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 21px;
  color: black;
  padding: 22px;
  line-height: 0;
}

.list {
  margin-top: -20px;
}

.promise {
  position: relative;
  background-color: white;
  text-align: center;
  list-style: none;
  width: 90%;
  height: 80px;
  margin-left: 5%;
  padding: 20px;
  font-size: 16px;
  line-height: 40px;
  cursor: pointer;
  border-radius: 20px;
  margin-top: 5px;
  z-index: 200;
  animation: fade-promise 1s linear forwards;
}

.promise:hover {
  transition: all 0.5s;
  transition-timing-function:ease;
  margin-left: 2.5%;
  width: 95%;
  font-size: 25px;
}

.promise-status {
  display: inline-block;
  background-image:url(http://kids.dongascience.com/upload/posting/2018/07/f3e86b80db87d6c964cc21f27575fd60.gif);
  background-repeat:no-repeat;
  background-size: cover;
  height:80px; 
  width:80px; 
  margin:-20px 0 -20px 0; 
  padding:0; 
  position: absolute;
  right: 5px;
}

.app > .body .add-btn {
  padding: 0 0 0 0;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 0px;
  font-size: 38px;
  position: fixed;
  right: 10px;
  bottom: 10px;
  background: gold;
  color: gray;
  border: 0;
  border-radius: 50%;
}

#my-page-btn {
  background-image : url(/img/mypage.svg);
  background-color : transparent;
  display : inline-block;
  position: fixed;
  top: 0;
  right: 0;
  height: 35px;
  width: 35px;
  z-index: 3;
  border-width: 0 0 0 0;
  border-radius:75px;
  margin: 30px 15px 0 0;
}

#map {
  position: relative;
  background-color: pink;
  width: 60%;
  padding-bottom: 60%;
  overflow:hidden;
}

#placesList {
  height: 140px;
}

#create-promise {
  display: inline-block;
  width: 70%;
  margin: 0 auto;
}


@keyframes fade-promise {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateY(40px);
  }
  to { 
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}