body{
	background:rgb(240,240,240);
}

.app > .head {
  padding: 10px;
  background: rgb(106,178,255);
  border-bottom: 1px solid #ddd;
  text-align: center;
  position: relative;
}

.app > .head .title{
  font-size: 20px;
  color:  rgb(106,178,255);
  font-weight: bold;
}

.app > .head button {
  background: rgb(106,178,255);
  padding: 7%;
  border: 1px solid rgb(106,178,255);
  cursor: pointer;
  width: 45%;
  margin: 7px;
  color:white;
  font-size: 1rem;
}
/* 버튼 눌렀을때 */
 .app > .head button.active {
  border-style: none;
/*   border-bottom: 5px solid rgb(52, 220, 192);  */
} 

.app > .head .list-btn { 
  position: absolute;
  left: 0;
  top: 0;
  font-size: 21px;
  color: black;
  padding: 22px;
  line-height: 0;
}
#list{
  background-color: white;
}
.app > .body {
  width: 100%;
  text-align: center;
}

.app > .body ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.app > .body ul li {
  padding: 20px;
  font-size: 16px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.app > .body .add-btn {
  display: inline-block;
  font-size: 38px;
  position: fixed;
  padding: 0 0 8px 0;
  right: 10px;
  bottom: 10px;
  background: rgb(227,241,241);
  color: white;
  width: 4rem;
  height: 4rem;
  border: 0;
  border-radius: 50%;
  line-height: 0;
  outline: 0;
}

.app > .body > .write {
  margin: 10px;
}

.app > .body > .write textarea {
  width: 100%;
  height: 250px;
  max-width: 100%;
  font-size: 16px;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.app > .body > .write button{
  width: 49%;
  color: white;
  padding: 15px;
  border: 0;
  margin-bottom: 10px;
}

.app > .body > .write .save-btn.full {
  width: 100%;
}

.app > .body > .write .save-btn {
  background: olive;
}

.app > .body > .write .remove-btn {
  background: black;
  float: right;
}

#map {
  position: relative;
  background-color: pink;
  width: 60%;
  padding-bottom: 60%;
  overflow:hidden;
}

#create-promise {
  display: inline-block;
  width: 70%;
  margin: 0 auto;
}