.app > .head {
  padding: 10px;
  background: pink;
  border-bottom: 1px solid #ddd;
  text-align: center;
  position: relative;
}

.app > .head .title{
  font-size: 20px;
  color:  dimgray;
  font-weight: bold;
}

.app > .head button {
  background: red;
  border: 1px solid black;
  padding: 7px;
  cursor: pointer;
  width: 45%;
  margin: 7px;
}

.app > .head button.active {
  background: maroon;
  color :white;
}

.app > .head .list-btn { 
  position: absolute;
  left: 0;
  top: 0;
  font-size: 21px;
  color: black;
  padding: 22px;
  line-height: 0;
}

.app > .body {
  width: 100%;
  text-align: center;
}

.app > .body ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.app > .body ul li {
  padding: 20px;
  font-size: 16px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.app > .body .add-btn {
  display: inline-block;
  padding: 29px 19px 29px 19px;
  font-size: 38px;
  position: fixed;
  right: 10px;
  bottom: 10px;
  background: gold;
  color: gray;
  border: 0;
  border-radius: 50%;
  line-height: 0;
  outline: 0;
}

.app > .body > .write {
  margin: 10px;
}

.app > .body > .write textarea {
  width: 100%;
  height: 250px;
  max-width: 100%;
  font-size: 16px;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.app > .body > .write button{
  width: 49%;
  color: white;
  padding: 15px;
  border: 0;
  margin-bottom: 10px;
}

.app > .body > .write .save-btn.full {
  width: 100%;
}

.app > .body > .write .save-btn {
  background: olive;
}

.app > .body > .write .remove-btn {
  background: black;
  float: right;
}

#map {
  position: relative;
  background-color: pink;
  width: 60%;
  padding-bottom: 60%;
  overflow:hidden;
}

#create-promise {
  display: inline-block;
  width: 70%;
  margin: 0 auto;
}

#my-page-btn {
  background-image : url(/img/mypage.svg);
  background-color : transparent;
  display : inline-block;
  position: fixed;
  top: 0;
  right: 0;
  height: 35px;
  width: 35px;
  z-index: 3;
  border-radius:75px;
}

.favorite {
  border: 2px solid mediumturquoise;
  border-radius: 10px;
  margin: 2px 5px 2px 5px;
  padding: 2px 2px 2px 2px;
}